.header {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3%;
}

.image {
  margin-right: 1%;
}

.container {
  display: flex;
  width: 95%;
}

.left {
  width: 70%;
  margin-left: 5%;
  height: 40%;
  border: 1px solid #e1e1e1;
}

.placeOrderCart {
  margin-left: 78%;
  margin-top: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  border: none;
  background-color: #ffd600;
  width: 18%;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.summary{
  border: 1px solid black;
  margin-left: 15%; 
  width: 25%;
}

.placeOrderCheckout1 {
  margin-top: 5%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  width: 90%;
  border: none;
  background-color: #ffd600;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.orderBottom{
  border: 1px solid black;
  width: 55%;
  margin-left: 5%;
  height: 10vh;
}

.placeOrderCheckout2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  width: 40%;
  border: none;
  background-color: #ffd600;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.checkoutHead {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

.parent {
  display: flex;
  width: 95%;
}

.checkoutleft {
  margin-left: 8%;
  width: 60%;
  margin-top: 2%;
}

.first {
  display: flex;
  margin-bottom: 2%;
}

.a {
  padding: 10px 5px;
  color: #b52b00;
}

.b {
  margin-left: 50%;
}
