* {
  margin: 0;
}
.container {
  display: flex;
  margin-left: 42%;
  margin-top: 2%;
}

.head {
  margin-left: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #2e0052;
}

.home {
  display: flex;
  margin-left: 7%;
  margin-top: 2%;
  cursor: pointer;
}

.homeText {
  margin-left: 1%;
  margin-top: 0.7%;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #2e0052;
}

@media screen and (max-width:768px) {
  .container{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 2%;
    padding: 10px 5px;
    background-color: #2e0052;
    
  }

  .head{
    color: white;
    margin-top: 1.5%;
  }

  .img{
    margin-top: 1.5%;
  }

  .home{
    display: none;
  }
  
}