.container {
  margin-top: 2%;
  width: 95%;
}

.head {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  margin-left: 5%;
  line-height: 30px;
}

.productContainer {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  height: fit-content;
}

.image {
  border: 3px solid #2e0052;
  border-radius: 20px;
  margin-right: 2%;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1%;
}

.price {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1%;
}

.color,
.about,
.description,
.availability,
.brand {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1%;
}

@media screen and (min-width: 769px) {
  .div_head {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 8%;
  }
  .head {
    display: none;
  }

  .detailsContainer {
    width: 100%;
  }

  .productContainer {
    width: 95%;
    display: block;
    margin-left: 2%;
  }

  .image {
    width: 92%;
    height: 50%;
    margin-left: 5%;
  }

  .name {
    font-size: 1.8rem;
    margin-top: 5%;
  }

  .div_head {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5%;
  }

  .price,.color{
    display: none;
  }

  .about{
    margin-top: 5%;
  }
}
