.container {
  margin-top: 2%;
  margin-left: 7%;
}

.input {
  width: 78%;
  padding: 8px 50px;
  border-radius: 10px;
  border: 1px solid grey;
}

.logo {
  position: absolute;
  margin-left: 1%;
  width: 2%;
  height: 5%;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 2%;
    width: 100%;
  }

  .input {
    width: 70%;
    margin-left: 0.2%;
  }

  .logo {
    width: 5%;
    margin-top: 1%;
    margin-left: 3%;
  }
}
